@font-face {
  font-family: "Alimama ShuHeiTi Bold";
  src: url('AlimamaShuHeiTi-Bold.otf') format("opentype"),
}
/* @font-face{
  font-family: "Basik Book";
  src:url('superfried_-_basik_book.otf') format('opentype')
} */
